<section class="block container block--plan">
  <div class="grid grid--1x3">
    <div>
      <div class="card card--secondary">
        <header class="card__heading">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">14$</span>
          <span class="plan__duration">/month</span>
          <span class="badge badge--secondary badge--small">10%off</span>
          <span class="plan__description">Easiest way to start!</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Cloud hosting</li>
            <li class="list__item">Space</li>
            <li class="list__item">3GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy now</button>
        </div>
      </div>
    </div>
    <div class="plan popular">
      <div>
        <div class="card card--primary">
          <header class="card__heading">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">14$</span>
            <span class="plan__duration">/month</span>
            <span class="badge badge--primary badge--small">10%off</span>
            <span class="plan__description">Easiest way to start!</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Cloud hosting</li>
              <li class="list__item">Space</li>
              <li class="list__item">3GB RAM</li>
            </ul>
            <button class="btn btn--outline btn--block">Buy now</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card card--secondary">
        <header class="card__heading">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">14$</span>
          <span class="plan__duration">/month</span>
          <span class="badge badge--secondary badge--small">10%off</span>
          <span class="plan__description">Easiest way to start!</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Cloud hosting</li>
            <li class="list__item">Space</li>
            <li class="list__item">3GB RAM</li>
          </ul>
          <button class="btn btn--outline">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</section>
