<div class="plan popular">
  <div style="width: 50%; padding: 2rem">
    <div class="card card--primary">
      <header class="card__heading">
        <h3 class="head__name">Entry</h3>
        <span class="head__price">14$</span>
        <span class="head__duration">/month</span>
        <span class="badge badge--primary badge--small">10%off</span>
        <span class="head__description">Easiest way to start!</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Cloud hosting</li>
          <li class="list__item">Space</li>
          <li class="list__item">3GB RAM</li>
        </ul>
        <button class="btn btn--outline">Buy now</button>
      </div>
    </div>
  </div>
</div>
