<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy wat to upgrade</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fugiat itaque
    modi, rem placeat possimus sapiente vel voluptates, rerum aspernatur
    reiciendis obcaecati, tempore blanditiis officiis. Odit nihil officia libero
    est.
  </div>
</div>
